# Predicting the stress level:

the Data are from Kaggle.

[https://www.kaggle.com/yamqwe/depression-anxiety-stress-scales]

In [1]:
import pandas as pd
import numpy as np

#loading data
df = pd.read_csv('./DASS_data_21.02.19/data.csv', sep=r'\t', engine='python')
df.head()

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,None
1,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,None
2,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,None
3,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,...,2,2,3,10,1,10,2,1,4,Psychology

In [2]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
from skilearn.cross_validation